[user]
	name = Higor Araujo
	email = higoraraujobezerra@gmail.com
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/863d2581ecda6849923a2118d93a088b0745d9d6/node /tmp/vscode-remote-containers-624ae35b-34ce-46d9-90c0-7ed71e8f13f5.js git-credential-helper $*; }; f"
[safe]
	directory = /workspaces/laraflix
