[user]
	name = Higor Araujo
	email = higoraraujobezerra@gmail.com
[credential]
	helper = "!f() { /var/www/.vscode-server/bin/1e790d77f81672c49be070e04474901747115651/node /tmp/vscode-remote-containers-a7c5e242-59fd-4040-a4da-42b54485582d.js git-credential-helper $*; }; f"
[safe]
	directory = /workspaces/laraflix
